@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    padding: 0;
    margin: 0;
    color: #ffffff;
    box-sizing: border-box;
    background-color: black;
}

.app__container{
    width: 100%;
    padding: 2rem 2rem;
    font-family: "Nanum Gothic", sans-serif;
}